body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

table {
    width: 60%;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
}

th, td {
    width: 25%;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #005b96;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

tbody tr:hover {
    background-color: #f4f4f9;
    cursor: pointer;
}

td {
    transition: background-color 0.3s, color 0.3s;
}

td:hover {
    background-color: #f4f4f9;
}

.active-feature {
    color: #005b96;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #005b96;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.inactive-header {
    background-color: #e0e0e0;
    color: #a0a0a0;
}

.inactive-dot {
    background-color: #a0a0a0;
}

.separator td {
    border: none;
    height: 2px;
    background-color: #f4f4f9;
}

.summary {
    width: 30%;
}

#selectedFeatures {
    list-style-type: none;
    padding: 0;
}

#selectedFeatures li {
    background-color: #005b96;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#selectedFeatures li:hover {
    background-color: #f4f4f9;
}

tbody td:first-child {
    transition: transform 0.3s ease;
}

tbody td:first-child:hover {
    transform: scale(1.05);
    background-color: #f4f4f9;
}
